<html lang="pt-br">
<head>
    <%- include('partials/head') %>
</head>
<body>
    <main>

        <h1> Olá, Novato!</h1> <!-- ok -->
        <h2> seja bem-vindo ao mundo de Mochileiro </h2>
        
    </main>
    <%- include('partials/footer') %>
</body>
<script>
    setInterval(() => location.reload(), 2000);
</script>
</html>