<html lang="en">
<head>
    <%- include('partials/head') %>
</head>
<body>
    <div class="row">
        <div class="col-6 col-s-6 red">

        </div>
        <div class="col-6 col-s-6 purple">

        </div>
        
    <div class="row">
        <div class="col-4 col-s-2 blue">

        </div>
        <div class="col-4 col-s-6 green">

        </div>
        <div class="col-4 col-s-4 yellow">

        </div>
    </div>

        
   
</body>
</html>