<html lang="en">
<head>
    <%- include('partials/head') %>
</head>
<body>
    <main>

        <h1> Olá, seja bem-vindo ao mundo de NOME DO JOGO </h1> <!-- ok -->
        
    </main>
    <%- include('partials/footer') %>
</body>
<script>
    setInterval(() => location.reload(), 2000);
</script>
</html>