<html lang="pt-br">
<head>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/header' %>)

    <%- include('partials/footer') %>
</body>
<script>
    //setInterval(() => location.reload(), 2000);
</script>
</html>