<html lang="en">
<head>
    <%- include('partials/head') %>
</head>
<body>
<div class="row">
    <div class="col-4 col-s-2"></div> 

    <div class="col-4 col-s-8">
    <h1> 

        nome

    </h1>

    <div id="main=menu" class="menus" > <!--eu to confuso nesse menu aqui / ignora KKKKKKKKKKKKK, mas eu ach que seria uma boa
        depois eu e o Henrique tentar concordar em como deveria ser esse menu principal. Eu nem vou comitar no github isso pq
        ta bizarro-->
        
        <button> Jogar </button>
        <button>  </button>
        <button> Sair </button>

    </div>
    
    <div class="col-4 col-s-2"></div>
    <%- include('partials/footer') %>
</body>
<script>
    setInterval(() => location.reload(), 2000);
</script>
</html>