<html lang="pt-br">
<head>
    <%- include('partials/head') %>
</head>
<body>
<div class="row">
    <div class="col-4 col-s-2"></div> 

    <div class="col-4 col-s-8">
    <h1> 


    </h1>

    <div id="main=menu" class="menus" >
        
        <button> Jogar </button>
        <button>  </button>
        <button> Sair </button>

    </div>
    
    <div class="col-4 col-s-2"></div>
    <%- include('partials/footer') %>
</body>
<script>
    //setInterval(() => location.reload(), 2000);
</script>
</html>