<html lang="pt-br">
<head>
    <%- include('partials/head') %>
</head>
<body>
    <div class="row">
    <div class="col-3 col-s-2"></div> 

    <div class="col-6 col-s-8">
        <h1 class="titulo"> Seleção de Save </h1>
        <div class="menu">
            <% for(let i = 1; i <= 4; i++){ %>
                <% saves.sort((a, b) => a.id - b.id); %>
                <% const save = saves[i-1]; %>

                <% if(save) { %>
                    <%- include('partials/savesCriados', {save}) %>
                
                <% } else { %>
                    <%- include('partials/savesVazios') %>
                <% } %>
            <% } %>
        </div>
    </div>

    <div class="col-3 col-s-2"></div>
        </form>
    </div>

    <%- include('partials/footer') %>
</body>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const saveCards = document.querySelectorAll('.Savecard');

        saveCards.forEach(card => {
            const displayMode = card.querySelector('.save-display-mode');
            const btnContinuar = card.querySelector('.selecionar');
            const renameForm = card.querySelector('.renomear-form');
            const deleteForm = card.querySelector('.deletar-form');
            const criarForm = card.querySelector('.criar-form');
            const toggleButtons = card.querySelectorAll('.btn-rename-toggle');
            const deleteToggleButtons = card.querySelectorAll('.btn-delete-toggle');
            const criarToggleButtons = card.querySelectorAll('.btn-criar-toggle');

            toggleButtons.forEach(button => {
                button.addEventListener('click', () => {
                    displayMode.classList.toggle('opcoes-save');
                    btnContinuar.classList.toggle('opcoes-save');
                    renameForm.classList.toggle('opcoes-save');
                    

                    if (!renameForm.classList.contains('opcoes-save')) {
                        renameForm.querySelector('input[name="novo_nome"]').focus();
                    }
                });
            });
            deleteToggleButtons.forEach(button => {
                button.addEventListener('click', () => {
                    displayMode.classList.toggle('opcoes-save');
                    btnContinuar.classList.toggle('opcoes-save');
                    deleteForm.classList.toggle('opcoes-save');
                });
            });
            criarToggleButtons.forEach(button => {
                button.addEventListener('click', () => {
                    displayMode.classList.toggle('opcoes-save');
                    criarForm.classList.toggle('opcoes-save');
                })
            })
        });
    });
    //setInterval(() => location.reload(), 2000);
</script>
</html>