<html lang="pt-br">
<head>
    <%- include('partials/head') %>
</head>
<body>

    <header> 



    </header>

    <div class="menu"> 

        <!-- mudar todos para forms e mandar o ssv para jogo-->
         <div class="container mt-5">
            <div class="1saveCompleto">
                <button class="Savecard"> lckus </button>
                <button class="renomear"> CdoI </button>
                <button class="deletar"> 🗑️ </button>
                <form action="/saves/1/selecionar" method="POST" class="d-inline">
                    <button type="submit">Continuar</button>
                </form>
            </div>

            <div class="2saveCompleto">
                <button class="Savecard"> billson </button>
                <button class="renomear"> lebb </button>
                <button class="deletar"> AAAA </button>
                <button> Continuar </button>
            </div>

            <div class="3saveCompleto">
                <button class ="Savecard"> RM </button>
                <button class ="renomear"> jj </button>
                <button class="deletar"> chorar </button>
                <button> Continuar </button>
            </div>
        </div>

    </div>

    <%- include('partials/footer') %>
</body>
<script>
    //setInterval(() => location.reload(), 1000);
</script>
</html>