<html lang="pt-br">
<head>
    <%- include('partials/head') %>
</head>
<body>

    <header> 



    </header>

    <div class="menu"> 

        <!-- Colocar os botões com ejs depois-->
         <div class="container mt-5">
            <div class="1saveCompleto">
                <button class="Savecard"> Vinicius </button>
                <button class="editar1"> CHIDORI </button>
                <button class="deletar1"> 🗑️ </button>
            </div>

            <div class="2saveCompleto">
                <button class="Savecard"> billson </button>
                <button class="editar2"> leproso</button>
                <button class="deletar2"> AAAA </button>
            </div>

            <div class="3saveCompleto">
                <button class ="Savecard"> RM </button>
                <button class ="editar3"> se mata </button>
                <button class="deletar3"> chorar </button>
            </div>
        </div>

    </div>

    <%- include('partials/footer') %>
</body>
<script>
    setInterval(() => location.reload(), 1000);
</script>
</html>