@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

/*celulares*/
*{
    box-sizing: border-box;
}
.row::after{
    content:"";
    clear: both;
    display: table;
}
[class*="col-"]{
    width: 100%;
    float: left;
    padding: 40px;
    
}
@media only screen and (min-width:600px){
    /*tablets*/
    .col-s-1{
        width: 8.33%;
    }
    .col-s-2{
        width: 16.66%;
    }
    .col-s-3{
        width: 25%;
    }
    .col-s-4{
        width: 33.33%;
    }
    .col-s-5{
        width: 41.66%;
    }
    .col-s-6{
        width: 50%;
    }
    .col-s-7{
        width: 58.33%;
    }
    .col-s-8{
        width: 66.66%;
    }
    .col-s-9{
        width: 75%;
    }
    .col-s-10{
        width: 83.33%;
    }
    .col-s-11{
        width: 91.66%;
    }
    .col-s-12{
        width: 100%;
    }

}
@media only screen and (min-width:889px){
    /*pc*/
    .col-1{
        width: 8.33%;
    }
    .col-2{
        width: 16.66%;
    }
    .col-3{
        width: 25%;
    }
    .col-4{
        width: 33.33%;
    }
    .col-5{
        width: 41.66%;
    }
    .col-6{
        width: 50%;
    }
    .col-7{
        width: 58.33%;
    }
    .col-8{
        width: 66.66%;
    }
    .col-9{
        width: 75%;
    }
    .col-10{
        width: 83.33%;
    }
    .col-11{
        width: 91.66%;
    }
    .col-12{
        width: 100%;
    }

}





* {
    font-family: 'MedievalSharp', cursive;
}


.form-cadastro fieldset {
    display: grid;
    place-items: column;
    width: 300px;
    gap: 10px;
    padding: 20px;
    margin-top: 20px;
    background: rgb(197, 197, 197);
    border: 1px solid lightgray;
    border-radius: 10px;  
}

.form-cadastro label {
    font-weight: bold;
}

.font-cadastro input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
}

.form-cadastro button{
    margin-top: 10px;
    padding: 15px;
    background: rgb(62, 122, 212);
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.form-cadastro button:hover {
    background: rgb(71, 111, 197);   
}

.form-login fieldset {
    display: grid;
    place-items: column;
    width: 300px;
    gap: 10px;
    padding: 20px;
    margin-top: 20px;
    background: rgb(197, 197, 197);
    border: 1px solid lightgray;
    border-radius: 10px;  
}

.form-login label {
    font-weight: bold;
}

.font-login input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
}

.form-login button{
    margin-top: 10px;
    padding: 15px;
    background: rgb(62, 122, 212);
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.row {
    width: 100%;
}

.container-grid {
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
}

.content{
    padding: 20px;
}

.footer{
    grid-row: 2;
    width: 100%;    
}

.container{
    background-color: #7f3004;
    display: grid;
    place-items: center;
} 
.Savecard{
    display: grid;
    margin-top: 10px;  
    padding: 15px;
    border-color: brown;
    border-radius: 10px;
    cursor: pointer;
    width: 200px;
    height: 200px;
    place-items: center;     
}

.deletar{
    display: grid;
    width: 40px;
    height: 40px;
    place-items: center;
    border-color: brown;
    border-radius: 10px;
    top: -220px;
    left: 150px;
    cursor: pointer;
    padding: 2px 6px;
    position: relative; 
}