@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

/*celulares*/
*{
    box-sizing: border-box;
    font-family: 'MedievalSharp', cursive;
}

.row::after{
    content:"";
    clear: both;
    display: table;
}

[class*="col-"]{
    width: 100%;
    float: left;
    padding: 5px;
    
}

@media only screen and (min-width:600px){
    /*tablets*/
    .col-s-1{
        width: 8.33%;
    }
    .col-s-2{
        width: 16.66%;
    }
    .col-s-3{
        width: 25%;
    }
    .col-s-4{
        width: 33.33%;
    }
    .col-s-5{
        width: 41.66%;
    }
    .col-s-6{
        width: 50%;
    }
    .col-s-7{
        width: 58.33%;
    }
    .col-s-8{
        width: 66.66%;
    }
    .col-s-9{
        width: 75%;
    }
    .col-s-10{
        width: 83.33%;
    }
    .col-s-11{
        width: 91.66%;
    }
    .col-s-12{
        width: 100%;
    }

}

@media only screen and (min-width:889px){
    /*pc*/
    .col-1{
        width: 8.33%;
    }
    .col-2{
        width: 16.66%;
    }
    .col-3{
        width: 25%;
    }
    .col-4{
        width: 33.33%;
    }
    .col-5{
        width: 41.66%;
    }
    .col-6{
        width: 50%;
    }
    .col-7{
        width: 58.33%;
    }
    .col-8{
        width: 66.66%;
    }
    .col-9{
        width: 75%;
    }
    .col-10{
        width: 83.33%;
    }
    .col-11{
        width: 91.66%;
    }
    .col-12{
        width: 100%;
    }

}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    min-height: 100vh;
}

main {
    grid-row: 2;
}

.form-cadastro fieldset {
    display: grid;
    place-items: column;
    width: 300px;
    gap: 10px;
    padding: 20px;
    margin-top: 20px;
    background: rgb(197, 197, 197);
    border: 1px solid lightgray;
    border-radius: 10px;  
}

.form-cadastro label {
    font-weight: bold;
}

.font-cadastro input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
}

.form-cadastro button{
    margin-top: 10px;
    padding: 15px;
    background: rgb(62, 122, 212);
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.form-cadastro button:hover {
    background: rgb(71, 111, 197);   
}

.form-login fieldset {
    display: grid;
    place-items: column;
    width: 300px;
    gap: 10px;
    padding: 20px;
    margin-top: 20px;
    background: rgb(197, 197, 197);
    border: 1px solid lightgray;
    border-radius: 10px;  
}

.form-login label {
    font-weight: bold;
}

.font-login input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
}

.form-login button{
    margin-top: 10px;
    padding: 15px;
    background: rgb(62, 122, 212);
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.row {
    width: 100%;
}

.container-grid {
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
}

.content{
    padding: 20px;
}

.footer{
    grid-row: 3;
    width: 100%;
    margin-top: auto;
    text-align: center;
}

.titulo{
    display:grid;
    place-items: center;
}

.menu{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 10px; 
    place-items: center;
    max-width: 450px; 
    margin: auto;
} 
.Savecard{
    display: grid;
    position: relative;
    margin-top: 10px;  
    padding: 15px;
    border-color: #7f3004;
    border-radius: 10px;
    cursor: pointer;
    width: 200px;
    height: 200px;
    place-items: center;
    background-color: #cf763b;
    box-shadow: 4px 2px 4px 4px grey;
    z-index: 1;
}

.deletar{
    position: relative;
    display: grid;
    width: 40px;
    height: 40px;
    place-items: center;
    border-radius: 10px;
    cursor: pointer;
    padding: 2px 6px;
    z-index: 1;
    top: -70px;
    background: rgb(255, 240, 189);
    border: none;
}
.renomear{
    position:relative;
    display: grid;
    width: 40px;
    height: 40px;
    place-items: center;
    border-radius: 10px;
    cursor: pointer;
    padding: 2px 6px;
    z-index: 1;
    top: -60px;
    border: none;
    background: rgb(255, 240, 189);
}

.selecionar{
    position: absolute;
    top: 70%;
}

.btn-save{
    padding: 10px;
    background: rgb(255, 240, 189);
    border: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    justify-self: center; 
    align-self: center;
    z-index: 0;
}

.saveVazio{
    left: 0%;
}

.opcoes-save{
    display: none !important;
}

.saveCompleto{
    display:grid;
    place-items: center;
}

.save-display-mode {
    width: 100%;
}