<div class="saveVazio Savecard" class="d-inline">
     <h1> Vazio </h1>
     <p> clique aqui para criar um novo save</p>
     <button class="btn-save btn-criar-toggle save-display-mode"> Criar Save </button>
     <form class="opcoes-save criar-form" action="/saves/criar" method="POST" class="d-inline">
          <input name="nomesave" type="text" placeholder="Nome do save.." required></input>
          <button class="btn-save" type="submit"> Criar </button>
  
     </form>
</div>